<!DOCTYPE html>
<html xml:lang="en">

<head>
    <meta charset="UTF-8">
    <title>GIF Chat Room</title>
</head>

<body>
    <div>Check console tab and network tab by pressing F12</div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect("http://localhost:8005", {
            path: "/socket.io"
        })
        socket.on("news", function (data) {
            console.log(data)
            socket.emit(
                "reply",
                "Hello Node.JS"
            )
        })
    </script>
</body>

</html>